<!DOCTYPE html>
<html lang="en">

<head>
    <title>Any comments?</title>
    <link href="/src/css/comment.css" rel="stylesheet">
    <link href="/src/css/layout.css" rel="stylesheet">


</head>

<body>

<div class="topnav">
    <a class="active" href="frontpage.html">Home</a>
    <a href="info-page.html">More info</a>
</div>

<div class="img-container">
    <a href="commentDK.html">
        <img height="15" src="../images/flagDK.jpg" width="25">
    </a>
</div>

<div class="comment-container">
    <form>
    <h1> Write your comments here: </h1>
    <textarea cols="35" name="Comment" rows="7"></textarea>
    <br>

    <button onclick="storeData()">Submit</button>
    </form>
</div>

<script src="/src/scripts/questionaire.js"></script>
</body>
</html>