<!DOCTYPE html>
<html lang="dk">

<head>
    <title>Nogle kommentarer?</title>
    <meta charset="utf-8"/>
    <meta content="A description" name="description"/>
    <link rel="stylesheet" href="/src/css/comment.css">
    <link href="/src/css/layout.css" rel="stylesheet">

</head>


<body>

<div class="topnav">
    <a class="active" href="startside.html">Start</a>
    <a href="info-side.html">Mere info</a>
</div>

<div class="img-container">
    <a href="commentUK.html">
        <img height="15" src="../images/flagUK.png" width="25">
    </a>
</div>

<div class="comment-container">
    <form>
    <h1> Skriv dine kommentarer her: </h1>
    <textarea cols="35" name="Comment" rows="7" required></textarea>
    <a href="sidste-side.html"><button>Indsend</button></a>
    </form>
</div>

</body>
</html>