<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chronic diseases is a problem</title>
    <link href= "/src/css/doctor-info.css" rel="stylesheet">
    <link href="/src/css/layout.css" rel="stylesheet">

</head>


<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
<div class="topnav">
    <a class="active" href="frontpage.html">Home</a>
    <a href="info-page.html">More info</a>
</div>

<div class="img-container">
    <a href="doc-info-side.html"><img height="15" src="../images/flagDK.jpg" width="25"></a>
</div>

<h1> Info about patients</h1>
<h3> List of submitted entries:</h3>


<button onclick="next_page()" style="position:relative; left:300px; top: 40px; font-size: 2vw;">Log out</button>
</body>
</html>
