<!DOCTYPE html>
<html lang="en">

<head>
    <title>Kroniske sygdomme er et problem - Log ind skærm</title>
    <meta charset="utf-8"/>
    <meta content="A description" name="description"/>
    <link href="/src/css/login.css" rel="stylesheet">
    <link href="/src/css/layout.css" rel="stylesheet">

</head>


<body>
<div class="topnav">
    <a class="active" href="startside.html">Start</a>
    <a href="info-side.html">Mere info</a>
</div>

<div class="img-container">
    <a href="doc-login-page.html">
        <img height="15" src="../images/flagUK.png" width="25">
    </a>
</div>

<div class="login-container">
    <h3> Bruger ID </h3>
    <input id="ID" name="UserID" type="text" value=""/>
    <h3> Kodeord </h3>
    <input id="Password" name="Password" type="text" value=""/>
    <p id="Wrong"></p>
    <button onclick="checker()">Log ind</button>

</div>
</body>
</html>
