<!DOCTYPE html>
<html lang="dk">

<head>
    <title>Kroniske sygdomme er et problem</title></head>
<meta charset="utf-8"/>
<meta content="A description" name="description"/>
<link href="src/css/doctor-info.css" rel="stylesheet">
<link href="/src/css/layout.css" rel="stylesheet">



<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
<div class="topnav">
    <a class="active" href="startside.html">Start</a>
    <a href="info-side.html">Mere info</a>
</div>


<div class="img-container">
    <a href="doc-info-page.html">
        <img height="15" src="../images/flagUK.png" width="25">
    </a>
</div>

<h1> Info om patienter</h1>

<h3 > Liste over indsendte undersøgelser</h3>

<button onclick="next_page()">Log ud</button>
</body>
</html>
