<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chronic diseases is a problem - Log in screen</title>
    <link href="/src/css/login.css" rel="stylesheet">
    <link href="/src/css/layout.css" rel="stylesheet">


</head>


<body>
<div class="topnav">
    <a class="active" href="frontpage.html">Home</a>
    <a href="info-page.html">More info</a>
</div>

<div class="img-container">
    <a href="doc-login-side.html">
        <img height="15" src="../images/flagDK.jpg" width="25">
    </a>
</div>

<div class="login-container">
    <h3> User ID </h3>
    <input id="ID" name="UserID" type="text" value=""/>
    <h3> Password </h3>
    <input id="Password" name="Password" type="text" value=""/>
    <p id="Wrong"></p>
    <button onclick="checker()"> Log in</button>
</div>
</body>
</html>
