<!DOCTYPE html>
<html lang="dk">

<head>
    <title>Kroniske sygdomme er et problem</title></head>
    <meta charset="utf-8" />
    <meta name="description" content="A description"/>
    <script type="text/javascript">

    /* Midlertidige databaser til indsendte undersøgelser */
    /* var Info = [["Kevin McCallister.", "Macaulay_Culkin@real_mail.com.", "All alone. Big house. Little kid.", "Burglars.", "I wished my family would disappear, and they did."],
                ["Luke Skywalker.", "Mark_Hamill@real_mail.com.", "Never knew his parents. Was guided by an old guy in a desert and an even older one in a swamp. His father is still alive", "Daddy issues.", "No. NO. It's not true. That's impossible."],
                // ["Patient 0.","Patient_0@mail.com","Trouble breathing. Coughs. Muscle weakness. Tired all the time.","Corona","Did a reverse Dracula"]
            ]; */
    var Info = [["Patient 0.","Patient_0@mail.com","Trouble breathing. Coughs. Muscle weakness. Tired all the time.","Corona","Bit a bat"],
                ["Ordinary person.","Very_sick@mail.com","Headache.","Not sick","I feel sick"],
                // ["Man with COPD.","Some_guy@mail.com","Trouble breathing. Coughs. Smokes cigarettes.","COPD",""]
            ];
    
    /* Funktion som, når den bliver kaldt, går til en ny side */
    function Next_page(){
        window.location = "startside.html";
    }

    /* Funktion som er ansvarlig for at vise de indsendte undersøgelser på siden */
    function MakeForm(){
        /* for loop som køre indtil den har kørt igennem alle indsendte undersøgelser */
        for(let i=1;i<=Info.length;i++){
            /* Dette laver html kode som laver en vandret linje */
            document.getElementById("new").appendChild(document.createElement("hr"));
            
            /* Dette laver html kode som starter en liste og giver listen et id */
            var list = document.createElement("ul");
            list.setAttribute("id","screen"+i);
            document.getElementById("new").appendChild(list);

            /* Dette laver html kode som laver et element i listen, giver elementet et id og skriver noget tekst som vil stå i elementet */
            var element = document.createElement("li");
            element.setAttribute("id","eleName"+i);
            element.appendChild(document.createTextNode("Patientens navn: "));
            document.getElementById("screen"+i).appendChild(element);
            
            /* Dette laver html kode som laver et element i listen, giver elementet et id og skriver noget tekst som vil stå i elementet */
            var element = document.createElement("li");
            element.setAttribute("id","eleMail"+i);
            element.appendChild(document.createTextNode("Patientens mail: "));
            document.getElementById("screen"+i).appendChild(element);
            
            /* Dette laver html kode som laver et element i listen, giver elementet et id og skriver noget tekst som vil stå i elementet */
            var element = document.createElement("li");
            element.setAttribute("id","eleSymptom"+i);
            element.appendChild(document.createTextNode("Symptomer: "));
            document.getElementById("screen"+i).appendChild(element);
            
            /* Dette laver html kode som laver et element i listen, giver elementet et id og skriver noget tekst som vil stå i elementet */
            var element = document.createElement("li");
            element.setAttribute("id","eleDisease"+i);
            element.appendChild(document.createTextNode("Mulige sygdomme: "));
            document.getElementById("screen"+i).appendChild(element);
            
            /* Dette laver html kode som laver et element i listen, giver elementet et id og skriver noget tekst som vil stå i elementet */
            var element = document.createElement("li");
            element.setAttribute("id","eleComment"+i);
            element.appendChild(document.createTextNode("Kommentarer: "));
            document.getElementById("screen"+i).appendChild(element);

            /* Dette laver html kode som laver en knap der sletter dens tilhørende liste når knappen klikkes */
            var delete_button = document.createElement("button");
            delete_button.setAttribute("id","del"+i);
            delete_button.setAttribute("onclick","Delete("+i+")");
            delete_button.setAttribute("style","color: red;");
            delete_button.appendChild(document.createTextNode("X Delete"));
            document.getElementById("new").appendChild(delete_button);

            Data(i);
        }
    }

    /* Denne funktion tager info fra databasen og sætter det ind på dets respektive pladser i listerne */
    function Data(i){
        document.getElementById("eleName"+i).innerHTML += Info[i-1][0]
        document.getElementById("eleMail"+i).innerHTML += Info[i-1][1]
        document.getElementById("eleSymptom"+i).innerHTML += Info[i-1][2]
        document.getElementById("eleDisease"+i).innerHTML += Info[i-1][3]
        document.getElementById("eleComment"+i).innerHTML += Info[i-1][4]
    }

    /* Funktionen sletter en liste når den er kaldt */
    function Delete(i){
        document.getElementById("screen"+i).remove();
        document.getElementById("del"+i).remove();
    }
    </script>

<!-- Dette håndtere baggrundsbilledet og dens størrelse -->
<style>
    body{
        background-image: url("src/images/baggrund.jpg");
        background-repeat: no-repeat;
        background-size: 2000px 1000px ;
    }
</style>

<!-- Den overordnede font størrelse af tekst på siden -->
<style>*{
    font-size: 1.2vw;
}</style>

<!-- Dette håndtere de forskellige egenskaber af den øverste bjælke på siden -->
<style>
    /* Standard egenskaber for bjælken */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Standard egenskaber for knapper på bjælken */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 17px;
}

/* Farve skift når der svæves over knapper forskelligt fra hoved knappen */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Specielle egenskaber for hoved knappen */
.topnav a.active {
    background-color: transparent;
    color: white;
}
</style>

<!-- Begyndelsen af kroppen af siden samt font typen der vil blive brugt på siden -->
<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <!-- Den øverste bjælke laves samt knapper som vises på bjælken -->
    <div class="topnav">
        <a class="active" href="startside.html">Start</a>
        <a href="infoDK.html">Mere info</a>
    </div>

    <!-- Laver en knap, illustreret som et flag, der skifter sproger når man trykker på den -->
    <div style = "position:fixed; right:25px; top:18px; background-color:transparent;">
        <a href="Doc_info_page.html">
        <img src="../images/flagUK.png" width="25" height="15">
        </a>
    </div>
    
    <!-- Pladsere kroppen af siden -->
    <h1 style="font-size: 2vw; position:relative; left:10px;"> Info om patienter</h1>
    <br/> 
    <h3 style="position:relative; left:10px;"> Liste over indsendte undersøgelser</h3>
    <!-- Laver en plads på siden hvor listerne vil blive placeret --> 
    <div id="new">
    </div>
    <!-- Køre den del af koden som laver listerne -->
    <script>
        MakeForm();
    </script>
    <hr>
    <br>
    <!-- Knap som tager brugeren tilbage til startsiden -->
    <button onclick="Next_page()" style="position:relative; left:300px; top: 40px; font-size: 2vw;">Log ud</button>
</body>
</html>
