<!DOCTYPE html>
<html lang="dk">

<head>
    <title>Kronisk sygdom diagnose</title>
    <meta charset="utf-8"/>
    <meta content="A description" name="description"/>
    <link href="/src/css/info.css" rel="stylesheet">
    <link href="/src/css/layout.css" rel="stylesheet">

</head>

<body>

<div class="topnav">
    <a class="active" href="startside.html">Start</a>
</div>

<div class="img-container">
    <a href="info-page.html">
        <img height="15" src="../images/flagUK.png" width="25">
    </a>
</div>


<div class="text-container">
    <h1> Mere info om denne side </h1>
    <p>Denne side blev lavet for at kunne diagnosticere de kroniske sygdomme diabetes, COPD og kræft.

        Disse sygdomme kan være svære at opfange, da de har nogle fælles symptomer.
        Denne side er derfor blevet bygget til at hjælpe læger med at lave en diagnose online,
        som hjælper både patienter, og hospitaler med at opdage disse sygdomme hurtigere og
        forhåbentlig stadig i deres tidlige stadier.

        Læger vil derfor være mere forberedte, når de får
        patienter over til b.la. et fysisk check-up,
        pågrund af den information denne side giver dem.
    </p>
</div>

</body>
</html>