<!DOCTYPE html>
<html lang="dk">

<head>
    <title>Kronisk sygdom diagnose</title>
    <meta charset="utf-8"/>
    <meta content="A description" name="description"/>
    <link href="/src/css/info.css" rel="stylesheet">
    <link href="/src/css/layout.css" rel="stylesheet">

</head>


<body>

<div class="topnav">
    <a class="active" href="frontpage.html">Home</a>
</div>

<div class="img-container">
    <a href="info-side.html">
        <img height="15" src="../images/flagDK.jpg" width="25">
    </a>
</div>


<div class="text-container">
    <h1> More info about this site </h1>

    <p>This site was built for diagnosing the diseases diabetes, COPD and cancer.

        These diseases can be difficult to diagnose, as they share some common symptoms.
        This site is therefore tasked with discovering the symptoms of online patients
        and help both patients, and hospitals with finding these diseases quicker
        and hopefully in the early stages.

        Therefore, the doctors will be more prepared when they call
        the patients for a physical check-up,
        because of the information this site provides them.
    </p>
</div>

</body>
</html>