<!DOCTYPE html>
<html lang="en">

<head>
	<title>Last page</title>
	<link href="/src/css/last-page.css" rel="stylesheet">
	<link href="/src/css/layout.css" rel="stylesheet">

</head>



<body>

<div class="topnav">
	<a class="active" href="frontpage.html">Home</a>
</div>

<div class="img-container">
	<a href="sidste-side.html">
	<img alt src="../images/flagDK.jpg" width="25" height="15"></img>
    </a>
</div>
<div class="text-container">
	<p >Thank you for your submission.
		Your entry has been saved and will be looked at by a doctor.
		To go back to the frontpage click the home button.
	</p>


</div>

</body>
</html>