<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <title>Questionaire</title>
    <script src="../scripts/questionaire.js"></script>
    <link href="/src/css/questionaire.css" rel="stylesheet">
    <link href="/src/css/layout.css" rel="stylesheet">

</head>


<body>
<div class="topnav">
    <a class="active" href="frontpage.html">Home</a>
    <a href="info-page.html">More info</a>
</div>

<form id="questionaire">
    <div>
        <p id="question"></p>
        <script>firstQuestion()</script>
        <p><input id="a1" name="Answer" type="radio" value="yes">Yes</p>
        <p><input id="a2" name="Answer" type="radio" value="no">No</p>
    </div>

    <input name="button" class="next" onclick="next(); commentCreate();" type="button" value="Next">

</form>

<div id="commentPage">
    <h1 id="commentText"></h1>
    <a href="last-page.html" id="comment-button"></a>
</div>

</body>
</html>