<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sidste side</title>
    <meta charset="utf-8"/>
    <meta content="A description" name="description"/>
    <link href="/src/css/last-page.css" rel="stylesheet">
    <link href="/src/css/layout.css" rel="stylesheet">

</head>


<body>

<div class="topnav">
    <a class="active" href="startside.html">Start</a>
</div>

<div class="img-container">
    <a href="last-page.html">
        <img height="15" src="../images/flagUK.png" width="25"></img>
    </a>
</div>
<div class="text-container">
    <p>Mange tak for din indsendelse.
        Din indsendelse er gemt og vil blive set af en læge.
        For at gå tilbage til forsiden, klip på start knappen.
    </p>
</div>
</body>
</html>