<!DOCTYPE html>
<html lang="dk">

<head>
    <title>Kronisk sygdom diagnose</title>
    <meta charset="utf-8"/>
    <meta content="A description" name="description"/>
    <link href="/src/css/frontsite.css" rel="stylesheet">
    <link href="/src/css/layout.css" rel="stylesheet">

</head>


<div class="topnav">
    <a class="active" href="startside.html">Start</a>
    <a href="doc-login-side.html">Læge login</a>
    <a href="doc-login-side.html">Patient login</a>
    <a href="info-side.html">Mere info</a>
</div>

<div class="img-container">
    <a href="frontpage.html">
        <img height="15" src="../images/flagUK.png" width="25">
    </a>
</div>


<div class="text-container">
    <h1> Kronisk Sygdom Diagnose</h1>
    <p>Dette er et online spørgeskema for at diagnosticere de kroniske sygdomme, diabetes, kræft og COPD.
        <br>
        <br>De følgende spørgsmål burde besvares ærligt for at lave den rigtige diagnose, og få de bedste resultater.
    </p>
    <a href="questionaire.html">
        <button>Tag testen</button>
    </a>

    <p>Hvis du har flere spørgsmål, kommentarer eller feedback,
        <br>
        <br>vil der i slutningen af spørgeskemaet være en kommentarboks.
    </p>
</div>

</body>
</html>