body{
    background-image: url("/src/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 330%;
}


.comment-container{
    position: relative;

}
.comment-container button{
    position: absolute;
    background: #3283ff;
    color: white;
    cursor: pointer;
    font-size: 1em;
    bottom: -25%;
    border: none;
    border-radius: 10px;
    width: 5%;
    height: 20%;
    left: 0;
}