body {
    background-image: url("/src/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 300%;
}

.text-container{
    font-size: 1em;
    font-family: Verdana;
    font-weight: 400;
    line-height: 40px;
    padding: 2% 2% 0 0;
}
.text-container h1{
    position: relative;
    margin-top: 1%;
}